body {margin: 0;background-color: #000000}
/*nav bar css*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}
ul.topnav li.left {
	float: left;
	color: white;
	font-weight:bold;
	padding: 5px 10px;
    margin: 3px 0;
	font-size: 125%;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
/*end nav bar css*/

/*login css*/
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 2% 2%;
    margin: 6% 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #E63F00;
    color: white;
    padding: 10px 15px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    font-family: "Karma", sans-serif;
}

.submitbtn {
    background-color: #AA0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #AAAAAA;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
}

@media(max-width:768px){
  .modal-content {
    width: 60%; /* Could be more or less, depending on screen size */
}

}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
 
h2 {
    text-align: center;
    font-weight: bold;
}

h1 {
    font-weight: bold;
	font-size: 35px;
	color: #f1f1f1;
   
}

h3,p {
    color: #f1f1f1;
}


/*end login css*/

/*image container*/ 
.flex-container {
  display: flex;
  color: white;
  justify-content: center;
}

.flex-container>div {
  background-color: #f1f1f1;
  width: 300px;
  height:400px;
  margin: 20px;    
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
/*end image container*/

/*video css */

#videoPlayer {
   width: 100%;
  height: auto;
}

iframe.vjs-resize-manager {
  visibility: hidden;
}

.vjs-quality-selector:before {
  line-height: 1.67;
  content: "\f013";
  font-family: FontAwesome;
  color: #FFFFFF;
  font-size: 1.8em;
}

/*end video */


